In [1]:
from datetime import date

fecha_1 = date(2010,  1,  1)
fecha_2 = date(2020, 12, 31)

from src import api_functions as af

df_clima_BCN = af.cargar_datos_clima_api_aemet(fecha_1 , fecha_2)

df_clima_BCN

df_clima_BCN.to_csv('output/clima_BCN.csv' , index=False)

Leemos datos metereológicos de la API de AEMET desde 2010-01-01 hasta 2010-12-31
Leemos datos metereológicos de la API de AEMET desde 2011-01-01 hasta 2011-12-31
Leemos datos metereológicos de la API de AEMET desde 2012-01-01 hasta 2012-12-31
Leemos datos metereológicos de la API de AEMET desde 2013-01-01 hasta 2013-12-31
Leemos datos metereológicos de la API de AEMET desde 2014-01-01 hasta 2014-12-31
Leemos datos metereológicos de la API de AEMET desde 2015-01-01 hasta 2015-12-31
Leemos datos metereológicos de la API de AEMET desde 2016-01-01 hasta 2016-12-31
Leemos datos metereológicos de la API de AEMET desde 2017-01-01 hasta 2017-12-31
Leemos datos metereológicos de la API de AEMET desde 2018-01-01 hasta 2018-12-31
Leemos datos metereológicos de la API de AEMET desde 2019-01-01 hasta 2019-12-31
Leemos datos metereológicos de la API de AEMET desde 2020-01-01 hasta 2020-12-31
Limitamos los datos meterológicos hasta la fecha_final 2020-12-31

In [2]:
df_clima_BCN

,fecha,indicativo,nombre,provincia,altitud,tmed,tmin,horatmin,tmax,horatmax,dir,velmedia,racha,horaracha,prec
0,2010-01-01,0201D,BARCELONA,BARCELONA,6,"11,9","10,0",07:20,"13,8",13:30,28,"6,4","22,8",70:50,NaN
1,2010-01-02,0201D,BARCELONA,BARCELONA,6,"10,2","8,6",08:00,"11,9",Varias,33,"4,4","10,8",01:10,"0,0"
2,2010-01-03,0201D,BARCELONA,BARCELONA,6,"11,3","8,4",08:00,"14,2",13:10,10,"1,7","6,9",00:30,"0,1"
3,2010-01-04,0201D,BARCELONA,BARCELONA,6,"10,8","9,3",07:40,"12,2",00:40,07,"3,3","7,8",21:10,"15,0"
4,2010-01-05,0201D,BARCELONA,BARCELONA,6,"11,0","9,7",22:50,"12,3",14:40,30,"1,7","9,2",02:40,"2,2"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3932,2020-12-27,0201D,BARCELONA,BARCELONA,6,"7,3","4,1",07:20,"10,5",23:40,27,"2,8","9,7",10:20,"0,0"
3933,2020-12-28,0201D,BARCELONA,BARCELONA,6,"10,2","8,0",08:40,"12,5",14:00,29,"5,3","23,6",09:00,"0,0"
3934,2020-12-29,0201D,BARCELONA,BARCELONA,6,"10,4","7,5",23:40,"13,2",13:00,31,"4,2","15,6",11:50,"0,0"
3935,2020-12-30,0201D,BARCELONA,BARCELONA,6,"9,0","5,5",06:40,"12,4",13:30,32,"3,1","14,2",13:00,"0,0"
3936,2020-12-31,0201D,BARCELONA,BARCELONA,6,"9,8","6,1",05:00,"13,4",13:50,30,"3,9","9,4",07:00,"0,0"